.container{

   background-image: url(../../assets/pic/4y.jpg);
   background-size: cover;
   background-position: center center;
   filter: grayscale(100%);
    width: 100%;
    height:800px;
    display: flex;
    align-items: center;
    justify-content: center;
   

   
   
}

.containerText{
    width: 100%;
    height: 100%;
    flex-direction: column;
    text-align: center;
    color: white;
}

.boxApp h3{
   margin-bottom: 20px;
   margin-top: 80px;
   color: rgb(209, 215, 215);
}

.btn{
    margin: 60px;
    width: 200px;
    height: 60px;
    border: none;
    font-size: xx-large;
    font-weight: 800;
}

.btn:hover{
  background-color: #ffffff;
}


.boxFooter{
    font-size: xx-large;
}



    
    
    @media screen and (max-width:1024px) {
    
        
  .boxFooter{
    font-size: large;
  }
        
    }
    
    
    @media screen and (max-width:768px) {
    
        .boxFooter{
            font-size: large;
          }

         
    }